*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container{
    height: 100vh;
    width: 100%;
    text-align: right;    
    background-image: url('../images/banner/banner1.png');
    background-size: contain;    
    background-repeat: no-repeat;
}
.main{
    padding-right: 150px;
    padding-top: 150px;
}
.contact-button{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #F15B22;
}

.banner-title{
    font-weight: 900;
    font-size: 35px;
    padding-bottom: 10px;
}
.banner-description{
    color: #757575;
    font-size: 10px;    
}


/* main parts starts here */
section{
    margin: 50px 150px;
}
.failures-year{
    display: flex;
    align-items: center;
    gap: 30px; 
      
}
.confused-girl img{
    width: 300px;
}
.detail-title{
    font-size: 20px;
    margin-bottom: 15px;
    color: #151414;
}
.detail-description{ 
    margin-bottom: 10px;    
    color: #757575;
    font-size: 10px;    
}
.detail-list{
    display: flex;
    gap: 5px;
    align-items: center;
}
.correct{
    width: 20px; 
    color: green;     
}
.my-faults{  
    color: #757575;
    font-size: 10px;    
}

/* my plan container */
.plan{
    text-align: center;
    margin-bottom: 30px;
}
.total-courses{
    display: flex;
    gap: 42px;
}
.total-courses img{
    width: 50px;
}
.course{
    text-align: center;    
}
.course h1{
    font-size: 17px;
    padding: 10px 0px;
}
.course p{
    color: #757575;
}

/* communication styles here */
.communication-container{
    height: 170px;    
    background-image: url('../images/gradient2.png'), url(../images/watch.png);
    background-repeat: no-repeat;    
    background-size: cover;
}
.communicate h1{
    color: white;
    font-size: 18px;
}
.primary-button{
    color: #F15B22;
    font-weight: 700;
    font-size: 10x;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: white;
}
.communicate{    
    padding: 33px 0px;
    padding-left: 30px;
}
/* footer */
.footer-container{
    background-color: #151414;
    height: 280px;
    padding: 0px 150px;
    justify-content: space-between;
    /* align-items: center; */
    display: flex;
}
.future h1{
    padding-top: 60px;
    font-size: 25px;
    color: white;
}
.future p{
    font-size: 8px;
    color: white;   
    padding-top: 10px;
}
.social-icons img{
    width: 25px;
    padding-top: 10px;
}
.subscribe h1{
    padding-top: 60px;
    font-size: 20px;
    color: white;
}
.contact-mail{
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #151414;
}
